<header class="title-block">
  <div class="title-wrapper">
    <hr class="title-rule-top" />
    <h1 class="title">{{ title() }}</h1>
    <hr class="title-rule-bottom" />
  </div>
  <div class="date">
    <time [attr.datetime]="date()">{{ date() }}</time>
    @if (updated()) {
      <span> · Updated <time [attr.datetime]="updated()">{{ updated() }}</time></span>
    }
  </div>
  @if (coverImage()) {
    <app-image-lightbox
      [src]="coverImage()!"
      [alt]="title()"
      width="720"
      height="405"
      priority
      imgClass="cover-image"
    />
  }
</header>
