:host {
  display: block;
}

.profile-page {
  display: grid;
  min-height: min(40rem, calc(100svh - 12rem));
  align-content: center;
}

@media (max-width: 600px) {
  .profile-page {
    min-height: auto;
  }
}

@media print {
  .profile-page {
    min-height: auto;
  }
}
