<div class="title-block">
  <div class="title-wrapper">
    <hr class="title-rule-top" />
    <h1 class="title">Fanyi's Blog</h1>
    <hr class="title-rule-bottom" />
  </div>
</div>

<section class="post-list">
  @for (post of posts; track post.slug) {
    <a class="post-entry" [routerLink]="['/blog', post.slug]">
      @if (post.coverImage) {
        <img
          [ngSrc]="post.coverImage"
          [alt]="post.title"
          width="720"
          height="360"
          [priority]="$first"
        />
      }
      <div class="post-row">
        <span class="post-title">{{ post.title }}</span>
        <span class="post-date">{{ post.date }}</span>
      </div>
      <div class="post-description">{{ post.description }}</div>
    </a>
  }
</section>
